# --- Data ---
# Ignore all processed data
data/silver/*
!data/silver/.gitkeep   # keep the empty folder in Git
data/gold/*
!data/gold/.gitkeep   # keep the empty folder in Git

# Keep raw data tracked
!data/raw/*

# --- Python ---
src/__pycache__/
__pycache__/
*.py[cod]
*.pyo

# --- Jupyter ---
.ipynb_checkpoints/

# --- System files ---
.DS_Store
Thumbs.db
